<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>My super Python Chat App</title>
    

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
       div.msgbbl{
        background-color: #ddd;
        padding: 5px 10px;
        border-radius: 10px;
        color:#555;
        margin-bottom: 5px; 
       }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   <div class = "container-fluid">
      <div class = "well text-center">
        <h4>My super Python Chat App</h4>
      </div>
      <div class="col-sm-8">
      <div class="no_message">
        <h1 style="color: #ccc">No Message Yet!</h1>
        <div class="msg-wrapper"></div>
      </div>
    </div>
      <div class="col-sm-4">
        <form action="" method="POST">
          <b> Type Your Message Below Span. <span class="glyphicon glyphicon-arrow-down"></span></b>
          <hr>
          <form>
  <div class="form-group">
    <label for="exampleInputEmail1">User Name</label>
    <input type="text" class="usernamen form-control" placeholder="User Name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Message</label>
    <input type="text" class="message form-control" placeholder="Messages">
  </div>
  <button type="submit" class="btn btn-success">Send <span class="glyphicon glyphicon-send"></span></button>
</form>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
   <script>
    var socket = io.connect('http://localhost:5000/')
    //broadcast msg
    socket.on( 'connect', function(){
      socket.emit( 'my event', {
        data : 'User Connected'
      })
    })
     var form = $('form').on('submit', function( e ){
      e.preventDefault()
      var user_name = $( 'input.username' ).val()
      var message = $( 'input.message' ).val()
      socket.emit( 'my event' ,{
        user : user_name,
        msg  : message
      })
     })
     //empty the msg feild
     $( 'input.message' ).val( '' ).focus()
     // capture message
     socket.on( 'my response', function(msg){
        console.log( msg )
      if(typeof msg.user !== 'undefined' ){
        $( h1 ).remove()
        $( 'div.msg-wrapper' ).append( '<div class="msgbbl"><b>'+msg.user+'</b> '+msg.msg+'</div> ')
      }
     })
   </script>
  </body>
</html>
    
